body {
  background-color: lightblue;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
